<button class="p-4 md:w-@Width grid grid-cols-3 shadow-sm hover:shadow-lg group" @onclick="OnClickCallback" >
    <div class="flex col-span-2">
      <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-blue-50 text-indigo-700 mb-4 flex-shrink-0 group-hover:bg-indigo-300">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
          <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
        </svg>
      </div>
      <div class="flex-grow pl-2 justify-start justify-self-start">
        <h3 class="text-gray-900 text-xl title-font font-medium mb-2">@Title</h3>
        <p class="leading-relaxed text-base">@Text</p>
        <a class="mt-3 text-indigo-900 inline-flex items-center hover:underline hover:scale-105" href="@Link">Learn More
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="ml-1 transform inline-block fill-current text-gray-500 w-6 h-6"><path fill-rule="evenodd" d="M15.3 10.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/></svg>

        </a>
      </div>
    </div>
    <div class="justify-self-end grid-flow-col self-center">
<div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 hover:underline focus:bg-gray-200 focus:outline-none focus:shadow-outline">
          <span>Dropdown</span>
          <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
</button>
@code {
  [Parameter]
  public string Icon {get; set;}
    [Parameter]
  public string Title {get; set;}
    [Parameter]
  public string Text {get; set;}
    [Parameter]
  public string Link {get; set;}
  [Parameter]
  public bool? Multiple {get; set;}
  [Parameter]
  public string Width {get; set;}
  [Parameter]
  public EventCallback<MouseEventArgs> OnClickCallback {get; set;}
  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object> InputAttributes { get; set; }

}