<section class="container mx-auto px-6 py-4 md:flex">
    <div class="grid grid-cols-2 gap-6">
        <div class="col-span-1 justify-center flex flex-col">
            <div class="float-right">
                <h2 class="font-serif text-8xl">All Home Inspections <span class="text-indigo-900 font-medium">Are Not Alike</span><span class="text-indigo-900">.</span></h2>
            </div>
            <div class="mt-8">
                <ul class="sm:text-sm md:text-base lg:text-lg list-disc text-gray-500 dark:text-gray-400">
                    <li>Our firm provides an unbiased, educationally oriented inspection ranging 3-8 hours.</li>
                    <li>We encourage client participation and welcome all questions.</li>
                    <li>The report is delivered on-site in our 300-page Home Book format, or as a comprehensive narrative report, which is generally completed within 48 hours.</li>
                    </ul>
                <h3 class="mt-4 font-bold sm:text-base md:text-lg">Learn More:</h3>
                <div class="flex mt-4">
                    <a href="#" class="block px-3 py-2 text-2xl font-semibold text-white hover:underline transition-colors duration-200 transform bg-indigo-900 rounded hover:bg-gray-700">The Home Book Report</a>
                    <a href="#" class="block px-3 py-2 mx-4 text-2xl font-semibold text-gray-700 hover:underline transition-colors duration-200 transform bg-blue-50 rounded hover:bg-gray-300">Who We Serve</a>
                </div>
            </div>
                
        </div>
        <div class="col-span-1">
                <img class="lg:rounded-lg w-full" src="assets\images\guyisinrafters-square.jpeg" alt="Larry Cerro climbing through rafters in a small attic">
        </div>
    </div>
</section>