@inherits LayoutComponentBase

<div class="">
    <nav>
        <NavMenu />
    </nav>

    <main>
            <div class="container mx-auto">
            </div>
            
        <div class="content px-4">
            @Body
        </div>
    </main>
    <footer>
        <Footer />
    </footer>
</div>
