@page "/"
<section>
    <Landing />
</section>
<section>
<Feature />
</section>
    <Footer />
@code {

private string messageText = "hidden";
private void ShowMessage(MouseEventArgs e)
    {
            if (messageText == "hidden")
            messageText = "";
            else
            messageText = "hidden";
    }
}
