@page "/"
<div x-data="{ open: false }">


<section class="container mx-auto px-6 py-4 md:flex">
    <Landing />
</section>
    <button  @click="open = !open"  class="relative">
        <p>hello</p>
        </button
<section class="text-gray-600 body-font">
        <div class="container px-5 mx-auto">
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6" >
            <Card 
            @attributes="InputAttributes"
                Icon = "a" 
                Title = "Larry is Qualified" 
                Text = "Larry is a Genius" 
                Link = "/About" 
                Width="1/3" 
                OnClickCallback="@ShowMessage"
            />
            <Card Icon = "a" Title = "Larry is a Good Guy" Text = "Larry is a Genius" Link = "/About" Width="1/3"/>
            <Card Icon = "a" Title = "Testimonials" Text = "People love Larry!" Link = "/About" Width="1/3"/>
        </div>
    </div>
</section>
<section class="container mx-auto" >

    
<div @click.away="open = false" x-show="open"  x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="w-full mt-2 origin-top-right rounded-md shadow-lg">
    <Card Icon = "a" Title = "Larry is a Good Guy" Text = "Larry is a Genius" Link = "/About" Width="1/1"/>
</div>
</section>
    
</div>
@code {

private string messageText = "hidden";
private void ShowMessage(MouseEventArgs e)
    {
            if (messageText == "hidden")
            messageText = "";
            else
            messageText = "hidden";
    }
public Dictionary<string, object> InputAttributes { get; set; } =
        new Dictionary<string, object>()
        {
            { "@click.away", "open = false" },
            { "@click", "open = !open" }
        };
}
